body {
    background-color: black;
    max-width: 100%;
    background-image: url("../images/logolets.png");

    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 100px;
}

.containerprincipal {
    max-width: 100%;
    z-index: 9999;
    /* position: fixed; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    width: 100%;
    /* height: 97%; */
    /* margin-top: -140px;
    margin-bottom: -101px;
    margin-left: -2px;
    margin-right: 0px;
    border: none; */
    /* background-color: #F24C3D; */
    background-image: linear-gradient(180deg, #a7a7a759 0%, #ffffff48 100%);



}

.div1 {
    background-color: transparent;
    display: flex;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    /* Fija el div en la parte superior de la ventana */
    left: 0;
    /* Fija el div en el lado izquierdo de la ventana */
    width: 100%;
    /* Ancho completo de la ventana */
    z-index: 1000;
    /* Asegura que el div esté por encima de otros elementos */
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    display: flex;

}

.logo {
    width: 50px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 80px;
}


nav ul {
    /* list-style: none; */
    /* Quita los estilos de la lista */
    padding: 0;
    margin: 0 auto;
    /* Centra la lista horizontalmente */
    margin-top: 25px;
    margin-right: 100px;

}

nav ul li {
    display: inline;
    /* Muestra los elementos de la lista en línea */
    margin-right: 10px;
    /* Espacio entre elementos de la lista */

}

nav ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    /* Color de texto claro */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    font-size: 19px;
    cursor: url(../images/iconcurso.ico), auto;
    border: 0.5px solid #F24C3D;
    border-radius: 3px;
    padding: 5px;
    background-color: #f24c3d28;
    /* Cambia el color de fondo del botón */

    /* Subraya el enlace al pasar el ratón */

}

nav ul li a:hover {
    /* text-decoration: underline; */
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    /* Cambia el color de fondo del botón */

    /* Subraya el enlace al pasar el ratón */
    color: #F24C3D;

}



.div2 {

    position: relative;
    /* Para poder posicionar contenido sobre el video */
    width: 100%;
    height: 100vh;
    /* Altura del viewport (pantalla completa) */
    overflow: hidden;

}

.div2 video {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Asegura que el video esté detrás del contenido */
    object-fit: cover;
    /* Asegura que el video ocupe todo el contenedor */

}

.div3 {}


/* FOOTER */

.footer__img {
    width: 35px;
}

.footer_redes {
    display: flex;
    width: 100%;
    height: 0%;
    margin: 0;
    padding: 0;
    border: none;
    background-image: linear-gradient(180deg, #00000059 0%, #0000002c 100%);
    /* background-size: cover; */
    margin-top: 10px;


}


.container_footer {

    margin-top: 20px;
    font-size: 70%;
    text-align: center;
    justify-content: center;


}

.footerversicule {
    color: rgb(255, 255, 255);
    font-size: 100%;
    margin-top: 10px;
    justify-content: center;
}

.footer__copyright {
    font-weight: 300;
    margin-top: 10px;
    /* font-weight: 300; */
    font-size: 80%;
    --padding-container: 30px 0;
    text-align: center;
    /* align-items: center; */
    /* white-space: pre-line; */

    color: #fff;
}